# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.class
*.classpath
out
gen
.idea/.gitignore
.idea/codeStyles/
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
okExcel.iml
pom.xml
src/
target/
